{#if setting}
{#if isEdit}
<li
    r-dragItem
    class={class}
    on-dblclick={this.setInfo($event)}
    r-style={{top: zoneTop, left: zoneLeft, width: zoneWidth, height: zoneHeight}}
>
    {#if setting.link}
    <ul class="hz-m-bridge">
        <li class="hz-u-bridge-tl" r-hide={this.notRange(infoBottom, infoRight)}></li>
        <li class="hz-u-bridge-tr" r-hide={this.notRange(infoBottom, infoLeft)}></li>
        <li class="hz-u-bridge-bl" r-hide={this.notRange(infoTop, infoRight)}></li>
        <li class="hz-u-bridge-br" r-hide={this.notRange(infoTop, infoLeft)}></li>
    </ul>
    <ul
        class="hz-m-info"
        r-hide={hideZone}
        on-mousedown={this.stopPropagation($event)}
        r-style={{top: infoTop, bottom: infoBottom, left: infoLeft, right: infoRight, transform: infoTransform}}
    >
        <li>跳转链接：<a href={setting.link} target={setting.target | getTarget} title={setting.link}>{setting.link}</a></li>
        <li>打开方式：{setting.target | jumpWay}</li>
    </ul>
    {/if}
    <ul
        r-changeSize
        class="hz-m-box"
        title="双击设置连接"
        r-class={{'hz-j-hidden': tooSmall}}
    >
        {#if !setting.link || !setting.hasSet}
        <li class="hz-u-tip">双击设置链接</li>
        {/if}
        <li
            class="hz-u-edit"
            title="单击设置链接"
            on-click={this.setInfo($event)}
            on-mousedown={this.stopPropagation($event)}
        ></li>
        <li
            title="删除该热区"
            r-hide={hideZone}
            class="hz-u-close"
            on-click={this.delItem($event, index)}
            on-mousedown={this.stopPropagation($event)}
        >×</li>
        <li class="hz-u-square hz-u-square-tl" data-pointer="dealTL"></li>
        <li class="hz-u-square hz-u-square-tc" data-pointer="dealTC"></li>
        <li class="hz-u-square hz-u-square-tr" data-pointer="dealTR"></li>
        <li class="hz-u-square hz-u-square-cl" data-pointer="dealCL"></li>
        <li class="hz-u-square hz-u-square-cr" data-pointer="dealCR"></li>
        <li class="hz-u-square hz-u-square-bl" data-pointer="dealBL"></li>
        <li class="hz-u-square hz-u-square-bc" data-pointer="dealBC"></li>
        <li class="hz-u-square hz-u-square-br" data-pointer="dealBR"></li>
    </ul>
</li>
{#else}
<li
    class={class}
    r-style={{top: zoneTop, left: zoneLeft, width: zoneWidth, height: zoneHeight}}
>
    {#if setting.link}
    <ul class="hz-m-bridge">
        <li class="hz-u-bridge-tl" r-hide={this.notRange(infoBottom, infoRight)}></li>
        <li class="hz-u-bridge-tr" r-hide={this.notRange(infoBottom, infoLeft)}></li>
        <li class="hz-u-bridge-bl" r-hide={this.notRange(infoTop, infoRight)}></li>
        <li class="hz-u-bridge-br" r-hide={this.notRange(infoTop, infoLeft)}></li>
    </ul>
    <ul
        class="hz-m-info"
        r-style={{top: infoTop, bottom: infoBottom, left: infoLeft, right: infoRight, transform: infoTransform}}
    >
        <li>跳转链接：<a href={setting.link} target={setting.target | getTarget} title={setting.link}>{setting.link}</a></li>
        <li>打开方式：{setting.target | jumpWay}</li>
    </ul>
    {/if}
    <a class="hz-u-link" href={setting.link} target={setting.target | getTarget}>
        <ul class="hz-m-box" title={setting.link}>
            <li class="hz-u-tip">点击热区跳转</li>
        </ul>
    </a>
</li>
{/if}
{/if}